aiohttp==2.2.5
aioredis==0.3.5
asphalt==4.5.0
asphalt-redis==2.0.1
async-generator==1.10
async-timeout==2.0.1
asyncio-extras==1.3.2
chardet==3.0.4
Click==7.0
h2==3.0.1
hiredis==0.3.1
hpack==3.0.0
html5-parser==0.3.3
httptools==0.0.11
hyperframe==5.1.0
idna==2.8
Kyoukai==2.2.1.post1
lxml==4.3.0
multidict==4.5.2
ruamel.yaml==0.15.85
typeguard==2.2.2
Unidecode==0.4.19
uvloop==0.9.1
Werkzeug==0.12.2
yarl==1.1.1
